{{#each this}}
  ```jsx
  {{#each this}}
    const {{this.componentName}} = require('./{{this.category}}/{{this.name}}').default;
  {{/each}}
  <div>
    {{#each this as |icon iconID|}}
      <div className="row">
        {{#each this.size}}
            <span className="column l"><{{icon.componentName}} size="{{this}}"/></span>
        {{/each}}
      </div>
    {{/each}}
  </div>
  ```
{{/each}}
