{{#each this}}
  ```jsx

  {{#each this}}
    const {{this.componentName}} = require('./{{this.category}}/{{this.name}}').default;
  {{/each}}
  <div>
    {{#each this.size}}
        <span className="column l"><{{componentName}} size="{{size}}"/></span>
    {{/each}}
  </div>
  ```
{{/each}}
